        <div>
       
            <div class="carrito_products">
              <img src={"none"} width={200} height={150} />
              <div>
                <div>
                  <div>
                    <a class="title_cart">title</a>
                  </div>
                  <div class="sum_stock">
                    <p>price</p>
                  </div>
                  <div class="sum_stock">
                    <h2>Cantidad</h2>
                    <div class="aum_rest">
                      <button class="btn cart px-auto">-</button>
                      <span> 0 </span>
                      <buttonclass="btn cart px-auto">+</button>
                    </div>
                  </div>

                  <div class="prod_precie">
                    <span> Precio: $</span>
                  </div>
                </div>
              </div>
              <button>
                <box-icon
                  name="trash-alt"
                  type="solid"
                  animation="tada"
                  color="#7749c7"
                ></box-icon>
              </button>
            </div>


    