
     <div class="list_container">
          <h1 class="title">Products Ecommerce</h1>
     
          <div class="card" style="width: 18rem;">
               <img src="" class="mx-auto img-thumbnail img" alt="">
               <div class="card_info card-body">
                    <h2 class="card-text">$</h2>
                    <p class="card-text">ID: {{firstname}}</p>
                    <p class="card-text">Price: </p>
                    <p class="card-text">Stocks: </p>
                    <p class="card-text">Category: </p>
               </div>     
          </div>
     </div>